<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Password Manager</h1>
    <ul class="tabs">
        <li><a href="username">Username</a></li>
        <li><a href="encryption">Encryption</a></li>
        <li><a href="decryption">Decryption</a></li>
        <li><a href="list">List</a></li>
        <li><a href="login">Logout</a></li>
    </ul>
    <div>
        <form action="/encryption" method="POST" class="text-form">
            <label for="password_text">Password Text:</label>
            <input type="text" id="password_text" name="password_text">
            <input type="submit" value="Encrypt" name="encrypt" class="submit-box">
            <input type="hidden" name="encrypted_text" value="{{ encrypted_text }}">
            <label for="encrypted_text">Encrypted Text:</label>
            <input type="text" value="{{ encrypted_text }}" id="encrypted_text" readonly>
            <input type="text" value="" id="tag" name="tag" placeholder="Enter a tag" class="input-two">
            <input type="submit" value="Save" name="save" class="submit-box">
        </form>
    </div>
</body>
</html>
