<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" maxlength="10" minlength="5" required><br><br>
        <label for="password">password:</label>
        <input type="password" id="password" name="password" maxlength="20" minlength="8" required><br><br>
        <input type="submit" name="action" value="Login">
    </form>
    <form action="/register" method="GET">
        <input type="submit" value="Register">
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>