<!DOCTYPE html>
<html>
<head>
	<title>Test Post Submission Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <style type="text/css">
      html,
    </style>
</head>
<body>
	<h1>Post Form</h1>
    <div>
    <form class="postform1" method="post" action="/post_submit">
        <div>
            <label>Field_a:</label>
            <input type="text" name="field_a">
        </div>
        <div>
            <label>Field_b:</label>
            <input type="text" name="field_b">      
        </div>
        <div>
            <label>Number</label>
            <input type="text" name="number">
        </div>

        <button type="submit">Submit</button>
    </form>
    </div>

</body>
</html>