<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <h1>Password Manager</h1>
    <ul class="tabs">
        <li><a href="username">Username</a></li>
        <li><a href="encryption">Encryption</a></li>
        <li><a href="decryption">Decryption</a></li>
        <li><a href="list">List</a></li>
        <li><a href="login">Logout</a></li>
    </ul>

    <div id="username" class="open">
        <form action="/username" method="POST" class="text-form">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" minlength="8" maxlength="20" required>
            <input type="submit" name="action" value="Change" class="submit-box">
        </form>
    </div>
 
</body>
</html>